@import url(./normalize.css);

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0;
}

body {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    max-width: 1533px;
    margin: 0 auto;
}

.container {
    padding: 0 45px;
}

/* Hero */
.hero {
    background-color: #000066ce;
    background-image: url(../img/hero/bcg_stars.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__top {
    padding-top: 95px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title-hero {
    font-size: 62.5px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-align: center;
}

.text-hero {
    font-size: 83.4px;
    letter-spacing: 0.025em;
}

.hero__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__bottom-img-left {
    margin-right: -50px;
    z-index: 1;
    width: calc(50% - 50px);
}

.hero__bottom-img-right {
    position: relative;
    margin-left: -50px;
    top: -20px;
}

/* Section 2 */
.two {
    background-color: #000066ce;
    padding-top: 55px;
    padding-bottom: 76px;
}
.two__top_inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.section2-h2 {
    font-size: 52.1px;
    line-height: 1.2;
    letter-spacing: 0.075em;
    color: #fffffc;
}

.section2-p {
    font-size: 37.5px;
    color: #fffffc;
}

.two__bottom_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.two__bottom_inner-left {
    display: flex;
    align-items: center;
}

.two__bottom_inner-right {
    display: flex;
    align-items: center;
}

/* Section 3 */
.three {
    background-color: #ffffff;
    padding-top: 89px;
    padding-bottom: 77px;
}

.three__inner {
    padding-top: 99px;
}

.three_card_inner {
    display: flex;
    align-items: center;
    gap: 55px;
}
.card_img {
}
.card_text {
}

.card_text_h2 {
    font-size: 62.5px;
    letter-spacing: 0.025em;
    color: #e27601;
}

.card_text_p {
    font-size: 37.5px;
    color: #000000;
}


/* Section 5 */
.four {
    background-color: #000066ce;
    background-image: url(../img/section4/bcg_clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-top: 79px;
    padding-bottom: 500px;
}

.four_h2 {
    font-size: 77.1px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 46px;
}

.four_inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.four_h3 {
    text-align: center;
    font-size: 52.1px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.four__grid {
    padding-top: 47px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.four_h4 {
    font-size: 41.7px;
    font-weight: 400;
    color: #ee7601;
}

.four_grid-span {
    font-size: 37.5px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;

    background-color: #ee7601;
    padding: 34px 62px;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

    .four_h5 {
        font-size: 52.1px;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #ffffff;
        text-align: center;
}

.four_span {
    font-size: 73px;
    font-weight: 700;
}

.visually-hidden {
    visibility: hidden;
}

/* Media queries */
 @media screen and (max-width: 768px) {
   
    .hero__top {
        padding-top: 63px;
    }

    .hero__top>img {
        width: 247px;
    }
   
    .title-hero {
        font-size: 41.8px;
        line-height: 1.2;
        letter-spacing: 0.1em;
    }

    .text-hero {
        font-size: 56.3px;
        letter-spacing: normal;
    }

    .hero__bottom-img-right {
        width: 500px;
     }

     .section2-h2 {
        font-size: 37.5px;
        line-height: 1.2;
        letter-spacing: 0.025em;
     }

     .section2-p {
        font-size: 29.2px;
     }

     .two__bottom_inner img {
        width: 84px;
     }

     .three_image {
        width: 705px;
     }

     .card_img img {
        width: 323px;
     }

     .card_text_h2 {
        font-size: 35.5px;
        letter-spacing: 0.025em;
     }

     .card_text_p {
        font-size: 29.2px;
     }


     .four {
        padding-top: 55px;
        padding-bottom: 265px;
        background-size: contain;
     }

     .four_h2 {
        font-size: 53.7px;
        line-height: 1.2;;
        letter-spacing: 0.025em;
     }

     .four_left img,
     .four_right img {
        width: 381px;
     }

     .four_h3 {
        font-size: 35.5px;
        letter-spacing: 0.025em;
     }

     .four__grid {
        grid-template-rows: none;
     }

     .four_h4 {
        font-size: 29.2px;
        font-weight: 400;
     }

     .four_grid-span {
        padding: 20px 61px;
        font-size: 29.2px;
        letter-spacing: 0.025em;
     }

     .four_h5  {
        padding-top: 57px;
        font-size: 36.3px;
        line-height: 1.2;
        letter-spacing: 0.025em;
     }

     .four_span {
        font-size: 50.8px;
        font-weight: bold;
     }
 }
 

 @media screen and (max-width: 380px) {

    .hero__top {
        flex-direction: column;
    }

    .hero__top>img {
        width: 185px;
    }
 }








